* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #548687;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
  }

  #resetbutton{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(20, 15, 15, 0.662);
    color: white;
    cursor: pointer;
    border-radius: 1vmin;
    margin: 1rem;
  }

  #newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(20, 15, 15, 0.662);
    color: white;
    cursor: pointer;
    border-radius: 1vmin;
    margin-top: 10vmin;
  }

  #msg{
    color: rgb(235, 235, 23);
    font-size: 5vmin;
  }

  .messageContainer{
    height: 60vmin;
    margin-top: 39vmin;
  }

  .hide{
    display: none;
  }

  .draw
  {
    color: rgb(235, 235, 23);
    font-size: 5vmin;
  }

  .nowin{
    display: none;
  }
 
  